

.bona-nova-sc-regular {
    font-family: "Bona Nova SC", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .bona-nova-sc-bold {
    font-family: "Bona Nova SC", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .bona-nova-sc-regular-italic {
    font-family: "Bona Nova SC", serif;
    font-weight: 400;
    font-style: italic;
  }
  

/*navbar customization */
body
{
    background-color: #f0eae5;
    font-family: "Bona Nova SC", serif;
    font-weight: 400;
    font-style: normal;
}

.navbar{
  background-color: #f5e9e2;
  box-shadow: 1px 9px 7px 0px rgba(0,0,0,0.20);
  -webkit-box-shadow: 1px 9px 7px 0px rgba(0,0,0,0.20);
  -moz-box-shadow: 1px 9px 7px 0px rgba(0,0,0,0.20);
  }

.nav-link {
      font-size: 1.35rem;
      
}

/*intro Text index */
.intro {
    margin-top: 10%;
    
}

.small-img {
    max-width: 90%; /* Adjust the size as needed */
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .project-img {
    max-width: 80%; /* Adjust the size as needed */
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .link-btn {
    display: flex;
    justify-content: center;
  }

  .highlight {
    color: #5A57D9; /* Change this to your desired color */
  }

  .highlight-2{
    color: #24747D;
  }

  .highlight-3{
    color:#23142A;
  }

.project-1{
  background-color: #24747D;
  margin-left: calc(-50vw + 50%); /* Center align the full width section */
  padding: 25px;
  background-size: cover;
  margin-top: 0; /* Ensure there's no top margin */
  margin-bottom: 0; /* Remove bottom margin */
}



.project-2{
  background-color: #061416;
  margin-left: calc(-50vw + 50%); /* Center align the full width section */
  background-size: cover;
  margin-top: 0; /* Ensure there's no top margin */
  margin-bottom: 0; /* Remove bottom margin */
}
